<ion-header class="ion-no-border">
  <ion-toolbar>
  </ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaulthref="login" text=""></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content>

    <ion-card class="ion-no-margin">
      <ion-img src="assets/images/header1.png"></ion-img>


      <ion-card-content>
        <div class="wrapform">
          <ion-item>
            <ion-icon slot="start" name="person-outline"></ion-icon>
            <ion-input placeholder="Número de Cuenta" type="text" name="email" [(ngModel)] = "email" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-input placeholder="********" type="password" name="password" [(ngModel)] = "password" required ></ion-input>
            <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
          </ion-item>

        </div>
        <div class="password_forgot">
          <ion-button fill="clear" shape="round" class="ion-no-padding">
            Olvidó la contraseña?
          </ion-button>
        </div>

        <div class="sign-btn-wrap">
          <ion-button (click)="onClick()"  shape="round" fill="solid" class="sign-btn">
            Login
          </ion-button>
        </div>

        <div class="text-tag">
          <span>O puedes ingresar con: </span>
        </div>
  
  
        <div class="social-btns">
          <ion-button (click)="onClick()"  fill="clear"  class="facebookbtn ion-no-padding">
            <ion-img src="assets/images/facebook.png"></ion-img>
          </ion-button>
          <ion-button (click)="onClick()"  fill="clear"  class="googlebtn ion-no-padding">
            <ion-img src="assets/images/google.png"></ion-img>
          </ion-button>
          <ion-button (click)="onClick()"  fill="clear"  class="applebtn ion-no-padding">
            <ion-img src="assets/images/apple.png"></ion-img>
          </ion-button>
        </div>

      </ion-card-content>

    </ion-card>

    <div class="ion-card-footer">
      <span>No tienes una cuenta?</span>
      <button class="ion-no-padding">Registrate!</button>
    </div>
    


</ion-content>
