<app-header titulo="Transferencias propias"></app-header>

<ion-content>

    <ion-card>
        <ion-card-header>
            <ion-card-subtitle><h6>Transfiriendo de</h6></ion-card-subtitle>
        </ion-card-header>
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>{{ cuenta }}</ion-card-subtitle>
                <ion-card-subtitle>
                    <ion-text color="secondary">
                        {{ tipoCuenta }}
                    </ion-text>
                </ion-card-subtitle>

                <ion-card-subtitle>
                    Disponible: 
                    <ion-text color="primary">
                        Q.{{ saldo }}
                    </ion-text>
                </ion-card-subtitle>
            </ion-card-header>
        </ion-card>
    </ion-card>
   
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle><h6>Monto</h6></ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-input type="number" placeholder="Monto a transferir (GTQ)"></ion-input>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-subtitle><h6>Comentario</h6></ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-card-content>
                <ion-textarea placeholder="Ingresa una descripción de la transacción"></ion-textarea>
            </ion-card-content>
            
        </ion-card-content>
    </ion-card>

    <ion-card>

        <ion-card-header>
            <ion-card-subtitle><h6>Transferir a</h6></ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
                  <ion-card *ngFor="let cuentaAsociada of cuentasAsociadas">
                    <ion-card-header>
                        {{ cuentaAsociada.nombre }}
                    </ion-card-header>
                    <ion-card-content>
                      <p>Número de Cuenta: {{cuentaAsociada.noCuenta}}</p>
                      <p *ngIf="cuentaAsociada.monAho">Tipo de cuenta: Ahorro
                      </p>
                      <p *ngIf="!cuentaAsociada.monAho">Tipo de cuenta: Monetaria
                      </p>
                      
                      <div align="right">
                        <ion-button>
                          <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
                        </ion-button>
                      </div>
                      
                    </ion-card-content> 
                  </ion-card>
        </ion-card-content>
        
    </ion-card>

</ion-content>
