<ion-header class="ion-no-border">
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-back-button defaulthref="login" text="">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content class="bg-color">

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Crea tu cuenta!</ion-card-subtitle>
      <ion-card-title>Registrate!</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-input name="names" type="text" placeholder="Nombre Completo">
          <ion-icon slot="start" name="person-outline"></ion-icon>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input name="email" type="text" placeholder="Correo Electrónico">
          <ion-icon slot="start" name="mail-outline"></ion-icon>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input name="phone" type="text" placeholder="Teléfono">
          <ion-icon slot="start" name="call-outline"></ion-icon>
        </ion-input>
      </ion-item>

      <div class="sign-btn-wrap">
        <ion-button shape="round" fill="solid" class="sign-btn">
          Registrar
        </ion-button>
      </div>

      
    </ion-card-content>

  </ion-card>
</ion-content>
