<ion-header>
  <ion-toolbar>
    <ion-title> Editar Perfil </ion-title>
    <ion-button (click)="salirSinArgumentos()" expand="block" fill="clear" shape="round" slot="start">
      Cancelar
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Editar Perfil</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-input name="user" type="text" placeholder="Usuario" [(ngModel)] = "user" required>
          <ion-icon slot="start" name="person-outline"></ion-icon>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input name="names" type="text" placeholder="Nombre Completo" [(ngModel)] = "names" required>
          <ion-icon slot="start" name="person-outline"></ion-icon>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input name="email" type="text" placeholder="Correo Electrónico" [(ngModel)] = "email" required>
          <ion-icon slot="start" name="mail-outline"></ion-icon>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input placeholder="contraseña" type="password" name="password" [(ngModel)] = "password" required >
        <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Fecha de Nacimiento</ion-label>
        <ion-input name="fechaNacimiento" type="date" placeholder="Fecha de Nacimiento" [(ngModel)] = "fechaNacimiento" required>
          <ion-icon slot="start" name="calendar-outline"></ion-icon>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input name="dirección" type="street-address" placeholder="Dirección" [(ngModel)] = "direccion" required>
          <ion-icon slot="start" name="home-outline"></ion-icon>
        </ion-input>
      </ion-item>
      

      <ion-item>
        <ion-input name="phone" type="text" placeholder="Teléfono" [(ngModel)] = "phone" required>
          <ion-icon slot="start" name="call-outline"></ion-icon>
        </ion-input>
      </ion-item>

      <div align="center">
        <ion-button routerLink="/" (click)="salirConArgumentos()" (click)="presentAlert()" shape="round" fill="solid" class="sign-btn">
          Editar
        </ion-button>
      </div>

      
    </ion-card-content>

  </ion-card>
  
</ion-content>
