<ion-content>
  <ion-card>
    <ion-img src="assets/images/inicio.png"></ion-img>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Bienvenido Administrador!</ion-card-subtitle>
        <ion-card-title>Banco Trainee</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Manejo de Cuentas
        <br>
        <br>
        <ion-button routerLink="/admin-crear-cuenta" expand="block" fill="solid" shape="round">
          Crear Cuenta
        </ion-button>
        <br>
        <ion-button routerLink="/admin-cuentas" expand="block" fill="solid" shape="round">
          Ver todas las cuentas
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ion-card>

  
  
</ion-content>
