<ion-content>
  <ion-card>
    <ion-img src="assets/images/inicio.png"></ion-img>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Bienvenido!</ion-card-subtitle>
        <ion-card-title>Banco Trainee</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Cuentas
      </ion-card-content>
    </ion-card>
  </ion-card>

  <ion-card *ngFor="let cuenta of cuentas">

    <ion-card-title class="ion-padding-horizontal ion-margin-bottom" >
      <h4>CUENTA NO. {{cuenta.noCuenta}}</h4>
     </ion-card-title>
  
    <ion-card-subtitle class="ion-margin">
  
      <ion-row class="ion-align-items-center">
        
        <ion-col align="right">
          <ion-button (click)="onAbrirMenu()" fill="clear">
            <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
          </ion-button>
          <p>Saldo</p>
          <h3>Q.{{cuenta.monto}}</h3>
        </ion-col>
  
      </ion-row>
  
    </ion-card-subtitle>
  
    <ion-card-content>
      <p *ngIf="cuenta.monAho">Tipo de cuenta: Ahorro
      </p>
      <p *ngIf="!cuenta.monAho">Tipo de cuenta: Monetaria
      </p>
      <p>{{cuenta.nombre}}</p>
    </ion-card-content> 
  
    
  </ion-card>
  
</ion-content>
