<app-header titulo="Operaciones"></app-header>


<ion-content class="ion-padding">

    <ion-button (click)="transferPropias()" expand="block" >
        Transferir a cuentas propias
    </ion-button>

    <ion-button (click)="transferTerceros()" expand="block" >
        Transferir a cuentas de terceros
    </ion-button>

  <ion-button (click)="historialTransferencias()" expand="block" >
      Historial de transferencias
  </ion-button>

  <ion-button (click)="editarPerfil()" expand="block" >
      Editar perfil 
  </ion-button>

</ion-content>
