<ion-card>

  <ion-card-title class="ion-padding-horizontal ion-margin-bottom" >
    <h2>Aqui ira el numero de cuenta</h2>
   </ion-card-title>

  <ion-card-subtitle class="ion-margin">

    <ion-row class="ion-align-items-center">

      
      <ion-col align="right">
        <ion-button (click)="onAbrirMenu()" fill="clear">
          <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
        </ion-button>
        <h3>Monto</h3>
      </ion-col>

    </ion-row>

  </ion-card-subtitle>


  <!-- <ion-card-content
  *ngIf="article.description"> -->
  <ion-card-content>
    <p>Aqui ira si es cuenta monetaria o de ahorro</p>
  </ion-card-content> 

  
</ion-card>
